<style>
    html {
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
    }

    body {
        font-size: 23px;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    .menu {
        border-top: 1px solid #cfd8dc;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 12px;
        color: white;
    }

    .webcam-image {
        display: none;

        flex-shrink: 1;

        max-width: 100%;
        max-height: 100%;
    }

    .loaded-label {
        flex: 1;
    }
</style>

<script>
    $(function() {
        var countdown = {{fetch_possible}};

        function updateWaitingText() {
            $('.btn-reload').text(Math.ceil(countdown / 1000));
        }

        updateWaitingText();

        var countdownTimer = setInterval(function() {
            countdown -= 1000;
            updateWaitingText();

            if (countdown <= 0) {
                $('.btn-reload').removeClass('disabled');
                $('.btn-reload').text("{{refresh_label}}");
                clearInterval(countdownTimer);
            }
        }, 1000);

        $('.btn-reload').click(function() {
            location.reload();
        });

        $(".webcam-image").one("load", function() {
            $('.loading-blocker').hide();
            $('.webcam-image').show();
        }).each(function() {
            if (this.complete) $(this).load();
        });
    });
</script>

<div class="main">
    <img class="webcam-image" src="/snapshot.png" />
    <div class="loading-blocker">{{loading_label}}</div>
</div>

<div class="menu indigo">
    <div class="loaded-label">{{image_taken_label}} {{timestamp}}</div>
    <div class="buttons">
        <a class="btn-reload indigo lighten-2 waves-effect waves-light btn-large disabled"></a>
    </div>
</div>
